body {
  padding: 0px;
  margin: 0px;
}


/* Header */
#header-bar {
  position: fixed;
  background-color: #fafafa;
  width: 100%;
  height: 60px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-bottom: solid;
  border-color: #d9d9d9;
  border-width: thin;
}
	
#header-title {
  position: relative;
  top: -15px;
  font-size: 30px;
  text-align: center;
  font-family: 'Arial', Calibri, Dejavu Sans;
  user-select: none;
}

#header-subtitle {
  position: relative;
  top: -35px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  font-family: 'Arial', Calibri, Dejavu Sans;
  user-select: none;
}


/* Footer */
#footer-bar {
  position: fixed;
  top: 95%;
  width: 100%;
  height: 50px;
  background-color: #fafafa;
  text-align: center;
  padding: 10px;
}

#copyright-text {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #7cb5f0;
  user-select: none;
}

a {
  font-family: 'Arial', Calibri, Dejavu Sans;
  color: #7cb5f0;
  font-size: 14px;
}


/*************
Main page body 
*************/
#page-content {
  position: fixed;
  left: 23%;
  top: 100px;
  background-color: blue;
}

/* Box shape */
#editor-options-box,
#share-box,
#code-box,
#code-option-box,
#about-box,
#preview-box,
.box {
  margin: 8px;
  padding: 8px;
  background-color: #f5f2f0;
  border-radius: 7px;
  user-select: none;
}

.box-title {
  font-family: 'Arial', Calibri, Dejavu Sans;
  margin-bottom: 5px;
  user-select: none;
}


/* Editor Options */
#editor-options-box {
  position: absolute;
  top: 0px;
  width: 40px;
  height: 375px;
  background-color: #97d1d3; 
}


#shiftup_icon {
  position: relative;
  top: 4px;
}

#shiftdown_icon {
  position: relative;
  top: -7px;
}


/* Share */
#share-box {
  position: absolute;
  top: 400px;
  left: 60px;
  width: 235px;
  height: 75px;
}


/* Code */
#code-box {
  position: absolute;
  left: 320px;
  top: 141px;
  width: 298px;
  height: 234px;
}

#code-box__code {
  width: 313px;
  height: 200px;
  resize: none;
  background-color: transparent;
  border: none;
}

#code-option-box {
  position: absolute;
  top: 141px;
  left: 640px;
  width: 150px;
  height: 234px;
}

.code-option-box__checkbox {
  position: relative;
  top: 2px;
}


/* About */
#about-box {
  position: absolute;
  top: 400px;
  left: 320px;
  width: 470px;
  height: 180px;
}


/* Pixel editor */
#pixel-editor {
  position: absolute;
  left: 60px;
  top: 0px;
  width: 250px; 
  height: 390px;
  margin: 8px;
  float: center;
  border-radius: 10px;
  background-color: #4db7bb;
  text-align: center;
  user-select: none;
}

#pixel-editor__charname {
  text-align: center;
  font-family: 'Arial', Calibri, Dejavu Sans;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  margin-top: 17px;
  margin-bottom: 20px;
}

#pixel-editor__clipboard {
  position: absolute;
  display: none;
}

.pixel-on {
  width: 32px;
  height: 32px;
  margin: 2px;
  box-sizing: border-box;
  background-color: #006468;
  border: #006468 1px solid;
  display: inline-block;
}

.pixel-off {
  width: 32px;
  height: 32px;
  margin: 2px;
  box-sizing: border-box;
  border: #000 1px solid;
  background-color: transparent;
  display: inline-block;
}


/* Preview */
#preview-box {
  position: absolute;
  left: 320px;
  top: 0px;
  width: 470px;
  height: 115px;
}

.lcd-pixel {
  width: 25px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 2px;
  float: left;
}

td {
  width: 4px;
  height: 4px;
  box-sizing: border-box;
  border: 1px solid black;
  border-collapse: collapse;
}

.lcd-pixel__selected {
  width: 25px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #0f9bae;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 2px;
  float: left;
}

.lcd-pixel__on{
  background-color: black;
}