/* This file is part of chareditor.com 
 * Refer to index.html for full license. */
header {
  position: relative;
  top: 2%;
  margin-left: 5%;
  margin-bottom: 15%;
}

  #page-logo {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: white;
    float: left;
    margin-right: 5%;
  }

  #page-options a {
    padding: 0px 15px;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Open Sans', 'Arial';
    color: white;
    user-select: none;
  }