/* This file is part of chareditor.com 
 * Refer to index.html for full license. */
#page-description {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  display: inline-block;
  color: white;
}

  #page-description__title {
    font-family: 'Open Sans', 'Arial';
    font-size: 50px;
  }

  #page-description__subtitle {
    font-size: 20px;
    font-weight: none;
    font-family: 'Lato', 'Arial';
  }

  #page-description__button a {
    border: 0px;
    border-radius: 7px;
    transition: background-color .7s ease;
    background-color: #51c7ca;
    color: white;
    margin-top: 2%;
    height: 50px;
    font-family: 'Open Sans', 'Arial';
    text-decoration: none;
  }

  #page-description__button:hover{
    transition: background-color .7s ease;
    background-color: #36e9ef;
  }